.env
.env.*
frontend/.env
frontend/.env.*
key.json
*.log
__pycache__/
*.pyc
exports/
frontend/.gitignore
frontend/ai-bot-tenders-frontend.zip
frontend/dist/
frontend/frontend-build.zip
frontend/setup.py
frontend/test-unzip/
